.App {
  text-align: center;
}

.App-logo {
  width: 15%;
  pointer-events: none;
}

.App-header {
  background-color: #2e2a24;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(20px + 1vmin);
  color: #f9d094;
  text-shadow: 3px 3px 5px black;
}

.data-payload {
  display: flex;
  justify-content: center;
  align-items: center;
}

.level {
  padding: 10px;
}

.time {
  padding: 10px;
}